name: Unity - Activate License (one time)

on:
  workflow_dispatch:

jobs:
  activate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Request manual activation file
        uses: game-ci/unity-request-activation-file@v2
        with:
          unityVersion: 2022.3.22f1

      - name: Upload activation file
        uses: actions/upload-artifact@v4
        with:
          name: unity-activation-file
          path: Unity_v*.alf
